*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Red Hat Display', sans-serif;
    overflow-x:clip;
    scroll-behavior: smooth;
}

html{
    --dark-Blue: #0E1F46;
    --pink: #F550BD;
    --Gold: #A07A25;
    --white: white;
    --black: black;
}

nav{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    z-index: 1;
    background-color: rgba(9, 19, 43, 0.4);
    box-shadow: 3px 2px 10px var(--dark-Blue);
    padding: 1rem;
    
    width: 100%;
}
nav .logo{
    height: 4rem;
    padding: 0 2rem;
    transition: all;
}
nav .logo:hover{
    transform: scale(.9);
    /* transition: ease-in-out; */
}
.hamburger{
    visibility: hidden;
}
ul li{
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 2rem ;
    /* box-shadow: 5px 5px 5px var(--dark-Blue); */
}

a:hover{
    color: var(--pink)
}

a{
    text-decoration: none;
    color: var(--white);
    
}

.video-bg {
    position: relative;
    height: 100vh;
    /* width: 100%; */
    cursor: default;
    max-width: 1920px;
    margin: auto;
    z-index: -1;
    transform: scale(1.2);
}
.video-bg img{
    visibility: hidden;
}
video{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin: auto;
    /* padding: 0; */
    position: relative;
    top: 20%;
    margin-top: 2rem;
    text-align: center;
    background-color: var(--Gold);
    height: 8rem;
}

.btn h1{
    padding: 1rem 0;
    text-transform: capitalize;
    color: var(--white);
}

.order-btn{
    background-color: var(--dark-Blue);
    border-radius: 10px;
    align-items: center;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    
}
.order-btn:hover {
    background-color: var(--pink);
    color:var(--black);

}


button{
    color: white;
    margin: 10px;
    border: 0;
    text-align: center;
    
}

h2{
    text-align: center;
    font-size: 2rem;
    color: var(--dark-Blue);
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5rem;
}
.btt1{
    position: absolute;
    left: 90%;
}

.BTT >img{
    display: none;
    position: fixed;
    top: 50rem;
    right: 10rem;
    height: 50px;
    background-color: #f8f8f8;
    opacity: .8;
}


.container {
    display: flex;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 2rem;
}

.collection{
    box-shadow: 1px 2px 4px rgb(195, 195, 195);
    border-radius: 15px;
    margin: 10px;
    
}

.cake-items >img {
    border-radius: 15px;
    display: block;
    text-align: center;
    height: 20rem;
    padding: 1.5rem ;
    align-items: center;
        
}
button{
    position: relative;
    left: 30%;
    bottom: 10px;
}

h3{
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

.order-btn2{
    background-color: var(--Gold);
    border-radius: 10px;
    align-items: center;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    
}
.order-btn2:hover {
    background-color: var(--pink);
    color:var(--black);

}

.about-us {
    background-color: var(--Gold);
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 2rem;
    color: var(--white);
    padding: 1rem;
    
}

.about-us > p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    color: var(--white);
    
}

.testemonials{
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    color: var(--dark-Blue);
    padding-top: 1rem;
    
}
.teste-heading{
padding-top: 2rem;
font-size: 2rem;

}

.testemonials .client-one{
    width: 400px;
    background-origin: padding-box;
    border: 2px solid var(--dark-Blue);
    padding: 3rem;
    font-size: 1rem;
    margin: 1rem;   
    text-align: center; 

}
.testemonials .client-two{
    width: 400px;
    background-origin: padding-box;
    border: 2px solid var(--Gold);
    padding: 2rem;
    font-size: 1rem;
    margin: 1rem;
    text-align: center; 
}

.quote{
    text-align: center;
    padding: 0;
    background-color: var(--pink);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--white);
    font-size: 1.6rem;
}

.contact-main > h2{
    background-color: var(--dark-Blue);
    color: var(--Gold);
    padding-top: 3rem;
    display: block;
    text-transform: capitalize;
}
.contact-us{
    height: 39rem;
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-Blue);
    padding-top: 1rem;
    
}
.contact-us .contact {
    width: 250px;
    padding: 3rem;
    background-color: var(--Gold);
    color: var(--white);

}

footer{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9rem;
}
footer >p{
    color: var(--white);
    padding: 1rem;
}
footer > img{
    height: 4rem;
}
.myfootername{
    color: var(--pink);
}
            /* /////////////////////////////////////////////// */

@media screen and (Max-width: 750px){
    h2{
        text-align: center;
        font-size: 2rem;
        color: var(--dark-Blue);
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 9rem;
    }
  
    nav{
        padding: 1.5rem 0 ;
    }
    .video-bg img{
        visibility: visible;
        position: relative;
        z-index: -1;
        bottom: 5rem;
    }
    .video-bg{
        background-image: url(images/Hero.jpg);
        background-position: center;
        background-size: cover;
        visibility: visible;
        position: relative;
        z-index: -1;
        bottom: 5rem;
    }

.BTT >img{
    visibility: visible;
    position: fixed;
    top: 52rem;
    right: .7rem;
    height: 35px;
    background-color: #f8f8f8;
    opacity: .5;
}

    .testemonials{
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin:auto;
        align-items: center;
    }

    .video-bg video {
        visibility: hidden;
    }
    ul li{
        visibility: hidden;
    }

    .btn {
        margin: auto;
        padding: 0;
        /* bottom: 10px; */
        /* left: 100px; */
        /* position: absolute; */
        /* margin-top: 2rem; */
        text-align: center;
        background-color: var(--dark-Blue);
        height: 8rem;
    }
    .btn h1{
        padding: 1rem 0;
        text-transform: capitalize;
        color: var(--pink);
        font-size: 1.5rem;
    } 
    
.order-btn{
    background-color: var(--Gold);
    border-radius: 10px;
    align-items: center;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    
}
    .logo{
        height: 5rem;
        position: absolute;
        left: 5%;
        top: 5%;
    }
    nav .hamburger{
        visibility: visible;
        position: absolute;
        right: 7%;
        top: 35%;
    }

    .map{
        visibility: hidden;
    }
    .contact-main > h2{
        background-color: var(--dark-Blue);
        color: var(--Gold);
        display: block;
        text-transform: capitalize;
    }
    footer{
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
                       /* /////////////////////////////////////////////// */

@media screen and (Max-width: 900px){

    .testemonials{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .contact-us{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        padding-top: 15rem;
    }
    .contact-us .contact {
        width: 400px;
        padding-top: 2rem;
        margin: -20px;
        background-color: transparent;
        color: var(--white);
        text-align: center;
    }
    footer{
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }
    .map iframe{
        position: relative;
        bottom: 8.5rem;
        padding: 2rem;
        
    }

}
